@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background-color: gray;
    /*background-image: url("../img/city-cars.jpg");
    background-size: cover;*/
}

.recipe_container {
    text-align: center;
    padding: 5em 1em;
}

.main_headline {
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    color: white;
}

.generator_button, .generator_button:visited {
    display: inline-block;
    text-align: center;
    padding: 1em;
    margin-top: 3em;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.generator_button:hover {
    background-color: white;
    color: #2d2d2d;
}

.generator_button:active {
    background-color: #aaa;
    border-color: #aaa;
    color: black;
}